<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= title %></title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to(
            "TradeGecko State Tracker", root_path, class: "navbar-brand"
          ) %>
        </div>
      </div>
    </nav>

    <div class="container top60">
      <%= render "flashes" -%>
      <%= yield %>
    </div>

    <%= render "javascript" %>
    <%= render "css_overrides" %>
  </body>
</html>
